body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.header-container {
    display: flex;
    margin-top: 8px;
}

.header-logo {
    font-size: large;
    color: #E5E7EB;
    font-weight: bolder;
    flex: 1;
}

.header-links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: lighter;
}